body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.image_1 {
	float: left;
	margin-right: 15px;
}

.image_2 {
	float: right;
	margin-left: 15px;
}

.image_1, .image_2 {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 300px;
}